<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- remove inherited connection strings -->
    <clear />
	
    <!-- add an Azure Artifacts feed -->
    <add key="baget" value="http://192.168.1.13:5555/v3/index.json" allowInsecureConnections="true" />
	
	<!-- Get packages from NuGet.org -->	
	<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" allowInsecureConnections="True" />
    <!--<add key="local" value="C:\Users\arash.mehdipour\Desktop\Pakages" />-->
  </packageSources>
</configuration>
